* {
  box-sizing: inherit;
}

html {
    position: relative;
}


body {
    position: relative;
    padding: 1rem;
    font-size: 18px;
    line-height: 24px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h1, h2, h3 {
  margin-top: 1rem;
  font-weight: normal;
  font-weight: 200;
  letter-spacing: none;
}

.Edit {
  background-color: #224549;
  line-height: 2;
  text-align: center;
}

.Interactive {
  line-height: 20px;
}

.tile {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px;
}

.tile img {
  display: block;
  width: 100px;
  height: 100px;
}

.demo {
  width: 80%;
  margin: auto;
  position: relative;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #132e3f;
  text-align: left;
  font-size: 1rem;
}

th {
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 20px;
}

td {
  padding: 0.35rem 1rem;
  vertical-align: top;
}

th, td {
  border-bottom: 1px solid #eee;
}

.Prop-type, .Prop-required, .Prop-examples, .Prop-default {
  display: block;
}

.Prop-name, .Prop-default-value, .Prop-examples-value, code {
  padding: 0 0.3rem;
  border-radius: 0.2em;
  font-family: 'Inconsolata', 'Anonymous Pro', 'Andale Mono', 'Courier New', Courier, monospace;
  background-color: rgba(0,0,0,0.1);
}

.Prop-type{
  font-style: italic;
}

.Prop-required {
  color: red;
}
.Prop-default {
    color: blue;
}

.Prop-name {
    color: green;
}

.Prop-default-title, .Prop-examples-title {
  color: #224549;
  font-weight: bold;
}
.playgroundPreview {
    text-align: center;
}
.CodeMirror {
    height: 100%;
    font-size: 1rem;
}
.CodeMirror pre {
    height: 100%;
    font-size: 15px;
}

.Interactive .playground {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.Interactive .playgroundCode {
    flex: 0 0 100%;
    vertical-align: top;
    background: #fff;
    font-family: 'Source Code Pro', 'Inconsolata', 'Courier New', 'Courier', monospace;
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 30px;
    border: 1px solid #ebe3db;
}

@media only screen and (min-width: 70em) {
  .Interactive .playgroundCode {
    display: flex;
    flex: 1;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.Interactive .playgroundPreview {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    background: #fff;
    position: relative;
    border: 1px solid #ebe3db;
}

@media only screen and (min-width: 70em) {
  .Interactive .playgroundPreview {
    display: flex;
    flex: 1;
    margin-left: 12px;
  }
}

.Interactive .playgroundStage {
  width: 100%;
}
.Prop-description {
    font-size: 1rem;
}
.Prop:nth-of-type(odd) {
    background-color: #fafafa;
}