<!doctype html>
<html>
  <head>
    <!--[if lt IE 9]>
      <script src="{{{root}}}/src/html5shiv-printshiv.js"></script>
    <![endif]-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <base href="{{{root}}}/">

    <title>{{title}}</title>

    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-title" content="{{title}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">


    <link href="{{{root}}}/workSans.css" rel="stylesheet" type="text/css">
    <link href="{{{root}}}/sansPro.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{{root}}}/normalize.min.css"/>
    <link href="{{{root}}}/styles.css" rel="stylesheet" type="text/css">
    {{#cssFils}}
      <link rel="stylesheet" href="{{{root}}}/{{{.}}}">
    {{/cssFils}}
  </head>
  <body>
    <div id="app">{{{html}}}</div>

    {{#jsFils}}
      <script src="{{{root}}}/{{{.}}}"></script>
    {{/jsFils}}
    <script src="bundle.js"></script>
    <!--[if IE]>
      <script src="{{{root}}}/es5-shim.min.js"></script>
      <script src="{{{root}}}/es5-sham.min.js"></script>
    <![endif]-->
  </body>
</html>
