@import '../styles/variables.css';

/*Main Styles*/
.base {
  composes: marg-0  from '../styles.css';
  composes: pad-v-1 from '../styles.css';
  composes: pad-h-2 from '../styles.css';
  composes: border from '../styles.css';
  composes: cursor-pointer from '../styles.css';
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.125rem;
  -webkit-appearance: none;
}

.base:hover {
  text-decoration: none;
}

.default_btn {
  composes: base;
  composes: rounded from '../styles.css';
  composes: white from '../styles.css';
  composes: border-transparent from '../styles.css';
}
    .default_btn:hover {
      box-shadow: inset 0 0 0 20rem var(--darken-1);
    }
    .default_btn:active {
      box-shadow: inset 0 0 0 20rem var(--darken-2),
          inset 0 3px 4px 0 var(--darken-3),
          0 0 1px var(--darken-2);
    }
    .default_btn:disabled {
      box-shadow: inset 0 0 0 20rem var(--darken-1);
    }

.outline {
  composes: base;
  composes: rounded from '../styles.css';
  composes: bg-transparent from '../styles.css';
  border-color: currentColor;
}
    .outline:hover {
      box-shadow: inset 0 0 0 20rem var(--darken-1);
    }
    .outline:active {
      box-shadow: inset 0 0 0 20rem var(--darken-2),
        inset 0 3px 4px 0 var(--darken-3),
        0 0 1px var(--darken-2);
    }
    .outline:disabled {
      opacity: .5;
    }

/*default button variant*/
.primary {
  composes: default_btn;
  composes: bg-blue from '../styles.css';
}

/*Outline styles*/

.secondary {
  composes: outline;
  composes: gray bg-transparent from '../styles.css';
  composes: hover-bg-gray from '../styles.css';
  composes: hover-white from '../styles.css';
}

.disabled {
  composes: cursor-not-allowed from '../styles.css';
  text-decoration: none;
  pointer-events: none;
  opacity: .65;
}

